version: '3.8'

services:
  app:
    build: 
      context: ..
      dockerfile: docker/Dockerfile
    ports:
      - "3000:3000"
    environment:
      - DEBUG=True
    volumes:
      - ..:/app
      - /app/node_modules  # Prevent overwriting node_modules
